.wishlist {
   display: flex;
   border: 1px solid #D2D2D2;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
   align-items: center;
   margin-bottom: 30px;
   margin-left: 80px;

}

.Wishlist-content{
    margin-top: 50px;
}

.wishlist>img{
    height: 70px;
    width: 60px;
    margin-left: 10px;
}

.wish{
    margin-left: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
}

.wishlist-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #6860BC;
}

.moreWish{
    display: flex;
    justify-content: center;
}