
body {
  position: relative;
  background: #FFFFFF
}
.scene {
  display: flex;
}

.holiday_scene {
  position: absolute;
  left: 320px;
  min-height: 949px;
  min-width: 76.3%;
}

/* UPPER SCENE */

.upper_scene {
  position: relative;
  padding-top: 53px;
  padding-left: 44px;
  padding-right: 36px;
  margin-bottom: 156px;
}

.upper_scene_label {
  position: relative;
  width: 327px;
  height: 44px;

  float: left;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  color: #000000;

}
