.wrapper {
    display: flex;
}
.input_search {
    width: 50%;
    height: 60px;
    border: 2px solid #7BA7AB;
    border-radius: 30px;
    margin-top: 30px;
    border-color: #FFCA12;
    margin-left: 250px;
    padding-left: 320px;
    padding-right: 30px;
}

.input_search:focus{
    outline: none;
}

.search {
    position: relative;
    padding-left: 320px;
    
}

.search_img {
    position: absolute;
    top: 50px;
    left: 610px;
}


.friends_title{
    margin-left: 40%;
}

input {
    width: 223.93px;
    height: 56px;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
}

.Friends_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 320px;

}

.more {
    margin-left: 40%;
    margin-top: 200px;
}

.wrapper {
    display: flex;
}

.no_friends{
    height: 100vh;
    margin-top: 100px;
    font-size: 50px;
}




