.side_bar {
    background-color: #EAE8FF;
    height: 1000px;
    width: 600px;
    color: #6860BC;
}

.side_bar_content {
    padding-top: 100px;
    margin-left: 10px;
}


.link {
    text-decoration: none;
    padding-left: 10px;
}

.wrapper {
    margin-bottom: 20px;
}